.slider {
    position: relative;

}

.slider__button {
    height: 50px;
    width: 53px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 7.03125px 19.53125px 0px rgba(0, 0, 0, 0.06);

    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__button--next {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.slider__button--prev {
    z-index: 1;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(50%, -50%);
}

