
.tab-controls {
    display: inline-flex;
    padding: 6px;
    align-items: center;
    border-radius: 44px;
    background-color: #EEE;

    @include mobile() {
        display: block;
    }
}

.tab-controls__btn {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    opacity: 0.8;

    height: 45px;
    padding: 7px 20px;
    justify-content: center;
    align-items: center;

    border-radius: 32px;
    
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    &--active{
        background-color: #fff;  
        
        &:hover {
            background-color: #fff;
        }
    }


}